<h1>우산 현황</h1>
<ul>
    <li *ngFor="let status of statuses">
        <button class="possible" *ngIf="status.status === '대출'" routerLink="/history/{{status.id}}">
                <div >
                    #{{status.id}}
                    <mat-icon id="possible">umbrella</mat-icon>
                    대출가능
                </div>
               
        </button>
        <button class="impossible" *ngIf="status.status === '반납'" routerLink="/history/{{status.id}}">
                <div >
                    #{{status.id}}
                    <mat-icon id="impossible">beach_access</mat-icon>
                    사용중
                </div>
        </button>
    </li>
</ul>