a {
    text-decoration: none;
}

ul li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

ul {
    max-width: 414px;
    padding-left: 0;
    margin-top: 0;
}

button {
    min-width: 138px;
    min-height: 160px;
    text-align: center;
    background: linear-gradient(to bottom right, #ffffff, #e6e6e6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(to bottom right, #e6e6e6, #ffffff);
    cursor: pointer;
}

.mat-icon {
    margin: 0 0 12px 0;
}

.possible {
    background: linear-gradient(to bottom right, rgb(28, 182, 28), #e6e6e6);
}

.impossible {
    background: linear-gradient(to bottom right, rgb(226, 144, 144), #e6e6e6);
}

#possible {
    color: green
}

#impossible {
    color: red
}

@media (max-width: 414px) {
    button {
        min-width: 33.33333vw;
        min-height: 42vw;
    }
}