a {
  text-decoration: none;
}

div {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

ul {
  max-width: 414px;
  padding-left: 0;
  margin-top: 0;
}

button {
  margin: 0;
  padding: 0;
  min-width: 138px;
  min-height: 160px;
  text-align: center;
  background: linear-gradient(to bottom right, #ffffff, #e6e6e6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-width: 1px;
  transition: all 0.2s ease;
  /* Smooth transition on hover */
  transform-origin: center;
}

button:hover {
  background: linear-gradient(to bottom right, #e6e6e6, #ffffff);
  cursor: pointer;
  transform: scale(1.05);
}

.mat-icon {
  margin: 0 0 12px 0;
}

.possible {
  background: linear-gradient(to bottom right, rgba(28, 182, 28, 0.42), #e6e6e6);
}

.impossible {
  background: rgba(0, 0, 0, 0.2);
}

#possible {
  color: green;
}

#impossible {
  color: black;
}

@media (max-width: 414px) {
  button {
    min-width: 33.33333vw;
    min-height: 42vw;
  }
}