<div id="reader"></div>

<div class="divider">
    <hr class="bar">
    <span class="txt">or</span>
    <hr class="bar">
 </div>

<form [formGroup]="umbrellaForm" class="alternative">
    <mat-form-field hintLabel="우산번호는 손잡이 확인" color="primary">
        <mat-label>우산번호</mat-label>
        <mat-select formControlName="selectedUmbrellaNumber">
            <mat-option *ngFor="let i of umbrellNumberaList" [value]="i">
                {{i}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button id="alternative-element" (click)="callApi()" color="primary">대출/반납</button>
</form>