<mat-drawer-container class="main-container">
  <mat-toolbar class="mat-toolbar">
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
  </mat-toolbar>
  <mat-drawer #drawer mode="over">
    <li>
      <a mat-list-item routerLink="/share">대출 / 반납</a>
    </li>
    <li>
      <a mat-list-item routerLink="/contributor">Contributor</a>
    </li>
    <li>
      <a mat-list-item routerLink="/developer">Developer</a>
    </li>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>