span {
  all: unset;
}

.main-container {
  height: calc(100vh - 48px);
  display: flex;
  justify-self: start;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
  box-shadow: 0 20px 20px rgba(63, 81, 181, 0.22);
}

.mat-toolbar {
  min-width: 414px;
  top: 0;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
}

.side-bar {
  padding: 20px;
}

.mat-toolbar > a {
  text-decoration: none;
  color: #3f51b5;
}

.tab-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  max-width: 414px;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  z-index: 2;
}

.drawer {
  width: 200px;
}

#drawer-icon {
  margin-right: 10px;
}


@media (max-width: 414px) {
  .main-container {
    height: calc(100vh - 48px);;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
  }
  .mat-toolbar {
    min-width: 100vw;
  }
  .side-bar {
    padding: 10px;
  }

  .drawer {
    width: 42vw;
  }
}

  