.main-container {
  height: 100%;
  display: flex;
  justify-self: start;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
}

.mat-toolbar {
  background: #3f51b5;
  min-width: 480px;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.side-bar {
  padding: 20px;
}

.mat-toolbar > a {
  color: black;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main-container {
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
  }
  .mat-toolbar {
    background: #3f51b5;
    min-width: 100vw;
  }
  .side-bar {
    padding: 10px;
  }
}

  