<mat-drawer-container class="main-container">
  <mat-toolbar class="mat-toolbar">
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="/" >{{title}}</a>
  </mat-toolbar>
  <mat-drawer #drawer class="drawer" mode="over">
    <mat-list>
      <a id="drawer-disply-wrapper" mat-list-item *ngFor="let link of links" [routerLink]="link.url">
          <mat-icon id="drawer-icon">{{link.icon}}</mat-icon>
          <span id="drawer-disply">{{link.displayName}}</span>
          <mat-divider [inset]="true"></mat-divider>
      </a>
      <mat-divider></mat-divider>
      <a id="drawer-disply-wrapper" mat-list-item routerLink="developer">
        <mat-icon id="drawer-icon">code</mat-icon>
        <span id="drawer-disply">Developer</span>
      </a>
    </mat-list>
  </mat-drawer>
  <!-- TODO: inactive when no existed url -->
    <nav class="tab-nav" mat-tab-nav-bar [tabPanel]="tabPabel">
      <a mat-tab-link *ngFor="let link of links"
      (click)="activeLink = link"
      [routerLink]="link.url"
      [active]="activeLink == link">
      <mat-icon>{{link.icon}}</mat-icon>
    </a>
    </nav>
    <mat-tab-nav-panel #tabPabel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>  
</mat-drawer-container>
