<mat-drawer-container class="main-container">
  <mat-toolbar class="mat-toolbar">
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="/" >{{title}}</a>
  </mat-toolbar>
  <mat-drawer #drawer mode="over">
    <li>
      <a mat-list-item routerLink="/share">대출 / 반납</a>
    </li>
    <li>
      <a mat-list-item routerLink="/contributor">Contributor</a>
    </li>
    <li>
      <a mat-list-item routerLink="/developer">Developer</a>
    </li>
    <li>
      <a mat-list-item routerLink="/history">History</a>
    </li>
  </mat-drawer>
    <nav class="tab-nav" mat-tab-nav-bar headerPosition="below" [tabPanel]="tabPabel">
      <a mat-tab-link *ngFor="let link of links"
      (click)="activeLink = link"
      [routerLink]="link.url"
      [active]="activeLink == link">
      <mat-icon>{{link.icon}}</mat-icon>
    </a>
    </nav>
    <mat-tab-nav-panel #tabPabel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>  
</mat-drawer-container>
