h1 {
    margin: 12px;
}

table {
    width: 100%;
}

.history-detail-wrapper {
    justify-content: center;
    text-align: center;
    max-width: 414px;
    margin: 0;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-elevation-z8 {
    margin-left: 10px;
    margin-right: 10px;
}
