canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
}